.about {
    text-align: center;
    &__card {
        position: absolute;
        top: 4rem;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 400;
        max-height: 70%;
        margin: 0 auto;
        background: url("/src/assets/graphics/card_vertical.svg") center no-repeat;
        @include breakpoint($laptop) {
            max-height: 55%;
            top: 20%;
            background: url("/src/assets/graphics/card_horizontal.svg") center no-repeat;
        }

        &__content {
            width: 100%;
            position: relative;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            &__address {
                max-width: 60%;
                display: flex;
                flex-flow: column nowrap;
                gap: 0.5rem;
            }
        }
    }
}