.footer {
    position: absolute;
    margin-bottom: 2rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    &__content {
        margin: 0 auto;
        max-width: calc(100% - 2rem);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
        @include breakpoint($laptop) {
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: flex-end;
            max-width: calc(100% - 200px);
            margin-bottom: 2rem;
        }
        
        &__left {
            img {
                width: 100px;
                height: auto;
            }
        }
        &__right {
            max-width: calc(100% - 150px);
            display: flex;
            flex-flow: column nowrap;
            gap: 1rem;
            @include breakpoint($laptop) {
                flex-flow: row nowrap;
                max-width: 50%;
            }
            svg {
                align-self: center;
                fill: $white;
                &#No162 {
                    width: 65px;
                    @include breakpoint($laptop) {
                        width: 80px;
                    }
                }
                &#Tagline {
                    width: 100%;
                    @include breakpoint($laptop) {
                        transform: translateY(2px);
                    }
                }
            }
        }
    }
}