.header {
    display: absolute;
    margin-top: 2rem;
    top: 0;
    left: 0;
    right: 5rem;
    &__content {
        margin: 0 auto;
        max-width: calc(100% - 2rem);
        svg {
            fill: $black;
        }
        img {
            position: absolute;
            width: 110px;
            height: auto;
            top: 3.5rem;
            right: 3.5rem;
        }
    }
}