.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 2rem;
    @include breakpoint($laptop) {
        margin-top: 5rem;
    }
    &__content {
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        max-width: calc(100% - 2rem);
        @include breakpoint($laptop) {
            max-width: calc(100% - 200px);
        }
        svg {
            fill: $black;
        }
        img {
            position: relative;
            z-index: 200;
            text-align: right;
            width: 110px;
            height: auto;
            // top: 3.5rem;
            // right: 3.5rem;
            @include breakpoint($laptop) {
                width: 180px;
            }
        }
    }
}