@import "variables";

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: $chocolate;
    overflow: hidden;
    // text-align: center;
    ::selection {
        // background: $sand;
        // color: $sage;
    }
}

a {
    text-decoration: none;
    // color: $sand;
}