@import "variables";

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: $chocolate;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: $black;
}

.landing > div:nth-child(2) {
    position: relative;
    z-index: 2;
}