html, body, div, span, applet, object, iframe,
h1, h2, h3, h5, h6, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/
@font-face {
  font-family: "Shelley Script";
  src: url("../assets/fonts/shelley-script-w01-regular.woff2") format("woff2"), url("../assets/fonts/shelley-script-w01-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: auto;
  font-size: 100%;
}

body {
  line-height: 1.25;
  font-smooth: antialiased;
}

.h1__serif {
  font-family: serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01rem;
}
@media (min-width: 960px) {
  .h1__serif {
    font-size: 1.125rem;
  }
}

.h2__serif {
  font-family: serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.h2__sans {
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.h3__sans {
  font-family: "sweet-sans-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.75;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
@media (min-width: 960px) {
  .h3__sans {
    font-size: 0.75rem;
  }
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/
@font-face {
  font-family: "Shelley Script";
  src: url("../assets/fonts/shelley-script-w01-regular.woff2") format("woff2"), url("../assets/fonts/shelley-script-w01-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #322827;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 2rem;
}
@media (min-width: 960px) {
  .header {
    margin-top: 5rem;
  }
}
.header__content {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  max-width: calc(100% - 2rem);
}
@media (min-width: 960px) {
  .header__content {
    max-width: calc(100% - 200px);
  }
}
.header__content svg {
  fill: #000000;
}
.header__content__calligraphy img {
  transform: translate(-2.75rem, -1rem);
  position: relative;
  z-index: 200;
  width: 110px;
  height: auto;
}
@media (min-width: 768px) {
  .header__content__calligraphy img {
    transform: translate(-2.25rem, -1rem);
    width: 140px;
  }
}
@media (min-width: 960px) {
  .header__content__calligraphy img {
    transform: translate(-2rem, -1.75rem);
    width: 170px;
  }
}
@media (min-width: 1367px) {
  .header__content__calligraphy img {
    transform: translate(-2rem, -2rem);
    width: 200px;
  }
}

.footer {
  position: absolute;
  margin-bottom: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.footer__content {
  margin: 0 auto;
  max-width: calc(100% - 2rem);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 960px) {
  .footer__content {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: calc(100% - 200px);
    margin-bottom: 2rem;
  }
}
.footer__content__left img {
  width: 100px;
  height: auto;
}
.footer__content__right {
  max-width: calc(100% - 150px);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
@media (min-width: 960px) {
  .footer__content__right {
    flex-flow: row nowrap;
    max-width: 50%;
  }
}
.footer__content__right svg {
  align-self: center;
  fill: #FAF8F6;
}
.footer__content__right svg#No162 {
  width: 65px;
}
@media (min-width: 960px) {
  .footer__content__right svg#No162 {
    width: 80px;
  }
}
.footer__content__right svg#Tagline {
  width: 100%;
}
@media (min-width: 960px) {
  .footer__content__right svg#Tagline {
    transform: translateY(2px);
  }
}

.about {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}
.about__card-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about__card-bg svg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}
.about__card {
  padding: 100px;
  position: relative;
  max-width: 800px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 400;
  margin: 0 auto;
}
.about__card__content {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.about__card__content__address {
  max-width: 60%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
