html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smooth: auto;
    font-size: 100%;
}


body {
   font-smooth: antialiased; 
}

.h1 {

}

.h2 {
    font-family: $script;
    font-size: $h2_mobile;
    @include breakpoint($laptop) {
        font-size: $h2;
    }
}

.h3 {
    @include sans($h3_mobile);
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    @include breakpoint($laptop) {
        font-size: $h3;
    }
}

.h4 {
    @include sans($h4_mobile);
    line-height: 1.75;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    @include breakpoint($laptop) {
        font-size: $h4;
    }
}

.h5 {
    @include sans($h5_mobile);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    @include breakpoint($laptop) {
        font-size: $h5;
    }
}