/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/

@font-face {
    font-family: "Shelley Script";
    src: url('../assets/fonts/shelley-script-w01-regular.woff2') format('woff2'),
        url('../assets/fonts/shelley-script-w01-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$serif: serif;
$sans: sans-serif;
$script: "Shelley Script";

$h1: 1.125rem;
$h1_mobile: 1rem;
$h2: 1.125rem;
$h2_mobile: 0.8125rem;
$h3: 0.75rem;
$h3_mobile: 0.675rem;

@import "./breakpoint-sass/stylesheets/breakpoint";

$desktop: 1367px;
$laptop: 960px;
$tablet: 768px;
$mobile: 400px;

$white: #FAF8F6;
$black: #000000;
$tangerine: #CA7D5F;
$cigar: #A87B59;
$chocolate: #7D5B4F;