@import "mixins";

/*
This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com
*/

@font-face {
    font-family: "Shelley Script";
    src: url('../assets/fonts/shelley-script-w01-regular.woff2') format('woff2'),
        url('../assets/fonts/shelley-script-w01-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$script: "Shelley Script";
$sans: normal 700 "sweet-sans-pro", sans-serif;

$h2: 1.325rem;
$h2_mobile: 1.25rem;
$h3: 0.875rem;
$h3_mobile: 0.675rem;
$h4: 0.675rem;
$h4_mobile: 0.5rem;
$h5: 1rem;
$h5_mobile: 0.75rem;

@import "./breakpoint-sass/stylesheets/breakpoint";

$desktop: 1367px;
$laptop: 960px;
$tablet: 768px;
$mobile: 400px;

// HEX VALUES FROM WIREFRAME
$chocolate: #322827;

// HEX VALUES FROM BRAND BOOK
$white: #FAF8F6;
$black: #000000;
$tangerine: #CA7D5F;
$cigar: #A87B59;
// $chocolate: #7D5B4F;